h1{
    color:aquamarine;
    font-size: 75px;
}

i{
    font-size: 25px;
}





header{
background: linear-gradient(110deg,yellow 40%,pink 40%);
}

section{
    background: lightgrey;
}

footer{
background: black;
color: blanchedalmond;

}
